body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1{
    color: black;
    font-size: 3em;
    display: flex;
    justify-content: center;
 
}
.titel{
    margin-top: 25vh;
}
 

.nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: #333; 
    margin: 0;
    padding: 0;
    width: 100vw;
}

.nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    transition: all 250ms ease;


}

.nav a:hover {
        background-color: rgb(85, 85, 85);
        color: white;   
}


a{
    text-decoration: none;
}


.extra{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


main,h2,h1, .extra{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


p{
    font-family: 'Montserrat', sans-serif;
}

.foto{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.foto img{
    border-radius: 14px;
    box-shadow: 0 2px 8px  gray;
}

figure:hover{
transform: scale(1.1);
transition: ease 250ms;
}


.afbeelding{
    border-radius: 14px;
} 

.container {
    padding: 0 20px;
}

.overlandtekst{
    display: flex;
    flex-direction: column;
}
.tekstzijkant{
    margin-right: 20px;
}

.kaart{
    margin-left: 80px;
    margin-right: 80px;
    animation: slidefromright 750ms ease-out;
}

@keyframes slidefromright {
    0%{
        transform: translateX(40%);
    }
    100%{
        transform: translateX(0%);
    }
}

.tekstmetkaart{
    display: flex;
}


.box1 {
    display: flex;
    justify-content: space-between;

}
 .box1 p {
    padding: 0px 20px 0 20px;
    margin-right: 40vw;
 }

.box1 {
    animation: invoegen 750ms ease-out;
    
}



@keyframes invoegen {
    0%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(0%);
    }
}

.box2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    
}
 .box2 p {
    padding: 0px 20px 0 20px;
    margin-left: 40vw;
 }

.box2{
    animation: uitvoegen 750ms ease-out  ;
}

@keyframes uitvoegen {
    0%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0%);
    }
}

 .box3{
    display: flex;
    justify-content: space-between;
    border: 0;
    animation: vergroten 750ms ease-out;
 }

 @keyframes vergroten {
    0%{
        transform: scale(50%);
    }
    100%{
        transform: scale(100%);
    }
 }

 .box3 p{
    display: flex;
    justify-content: space-evenly;
    border: 0;
 }

 .box3 img{
    display: flex;
    
 }

 .meerruimte{
    margin-left: 28px;
 }

.box4{
    margin: 0 100px 0 80px;
    
}
 .box5{
    margin: 0 80px 0 100px;

 }

 .omgekeerd{
    display: flex;
    flex-direction: row-reverse;
 }

footer{
    background-color: #979797; 
    padding: 20px 0;
    width: 100vw;
    
}

footer ul{
    list-style: none;
}

footer a{
    color: white;  
    font-family: 'Montserrat', sans-serif;
}

footer h2{
    margin-left: 10px;
    color: white;  
}
     
.bronnen{
    margin-top: 80px;
}

.bronvermelding{
    display: flex;
}
