body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1{
    color: black;
    font-size: 3em;
    display: flex;
    justify-content: center;
 
}
.titel{
    margin-top: 25vh;
}
   
/*.gif{
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
*/
.nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;

    background-color: #333; 
    margin: 0;
    padding: 0;
    width: 100vw;
    
}

.nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    transition: all 250ms ease;
}

.nav a:hover {
        background-color: rgb(85, 85, 85);
        color: white;   
}


a{
    text-decoration: none;
}


.extra{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


main,h2,h1, .extra{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.foto{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.foto img{
    border-radius: 14px;
    box-shadow: 0 2px 8px  gray;
}

figure:hover{
transform: scale(1.1);
transition: ease 250ms;
}


img{
    border-radius: 14px;
} /*Opletten dat dit (voor nu) ALLE fotos's zijn */

.container {
    padding: 0 20px;
}


.box1 {
    display: flex;
    justify-content: space-between;

}
 .box1 p {
    padding: 0px 20px 0 20px;
 }


.box2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    
}
 .box2 p {
    padding: 0px 20px 0 20px;
    flex-wrap: wrap;
 }

 .box3{
    display: flex;
    justify-content: space-between;
    border: 0;
 }

 .box3 p{
    display: flex;
    justify-content: space-evenly;
   border: 0;
 }

 .box3 img{
    display: flex;
    
 }
.box4{
    margin: 0 100px 0 80px;
    
}
 .box5{
    margin: 0 80px 0 100px;

 }



 .omgekeerd{
    display: flex;
    flex-direction: row-reverse;
 }

footer{
    background-color: #6c6c6c; 
    padding: 20px 0;
    width: 100vw;
    
}

footer ul{
    list-style: none;
}

footer a{
    color: white;   
}
     
.bronnen{
    margin-top: 80px;
}

.bronvermelding{
    display: flex;
}
