body {
    margin: 0;
    padding: 0;
}

h1{
    color: black;
    font-size: 3em;
    display: flex;
    justify-content: center;
 
}
.titel{
    margin-top: 25vh;
}
   
/*.gif{
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
*/
.nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;

    background-color: #333; 
    margin: 0;
    padding: 0;
    width: 100vw;
    
}

.nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    transition: all 250ms ease;
}

.nav a:hover {
        background-color: rgb(85, 85, 85);
        color: white;   
}


a{
    text-decoration: none;
}


.extra{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


main,h2,h1, .extra{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.foto{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.foto img{
    border-radius: 14px;
box-shadow: 0 2px 8px  gray;
}

figure:hover{
transform: scale(1.1);
transition: ease 250ms;
}


img{
    border-radius: 14px;
} /*Opletten dat dit (voor nu) ALLE fotos's zijn */

.container {
    padding: 0 20px;
}